table, th, td{
  border: 1px, solid black;
  border-collapse: collapse;
}

th, td{
  padding: 5px;
}

#heading, #anne, #judy, #kelly{
  background-color: yellow;
}

td{
  text-align: left;
}

.YOS{
  text-align: right;
}

.hl{
text-align: left;
}