/*
Author: Maria Cruz
Date: Current Date
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and header content */
body {
    background-color: #d9d9d9;
}

header, footer {
    padding: 2%;
    text-align: center;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
}

main p {
    font-size: 1.25em;
    padding: 2%;
}

main a {
    color: #0000b3;
    text-decoration: none;
}

#orange, #purple, #green {
    display: block;
    margin-bottom: 2%;
    text-align: center;
    width: 33%;
    float: left;
}

#questions {
    clear: left;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    display: inline-block;
    padding-top: 5%;
}

/* Orange */
.orange-hex{
    background-color: #F59A0F;
}

.orange-rgb{
    background-color: rgb(245, 154, 15);
}

.orange-hsl{
    background-color: hsl(36, 92%, 51%);
}

/* Purple */
.purple-hex{
background-color: #080396;
}

.purple-rgb{
background-color: rgb(8, 3, 150);
}

.purple-hsl{
background-color: hsl(241.8, 97%, 30%);
}

/* Green */
.green-hex{
background-color: #2A441F;
}

.green-rgb{
    background-color: rgb(42, 68, 31);
}

.green-hsl{
background-color: hsl(100, 37%, 19%);
}